/* Start Global Rules */
:root {
    --main-color: #0052CE;
    --sec-color: #E0EBFC;
    --third-color: white;
    --main-transition: 0.3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

.main-btn {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: var(--main-transition);
}

.main-btn:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}

.bg-slide-span {
    background-color: #00000080;
    border-radius: 7px;
}

/* End Global Rules */

/* Start Navbar */
.logo {
    color: var(--main-color);
}

.navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar .navbar-nav .nav-item .active {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-item a {
    color: #888;
}

.navbar .navbar-nav .nav-item a:hover {
    color: var(--main-color);
}

.navbar button {
    padding: 10px;
}
/* End Navbar */

/* Start Landing */
.landing {
    background-color: var(--sec-color);
    padding: 3rem 2rem;
} 

.landing h1 {
    font-size: 3rem;
}

.landing p {
    font-size: 1.2rem;
}

.landing img {
    max-width: 100%;
}

.landing .pic {
    transform: 1s;
}
.landing .pic-1 {
    width: 90%;
    margin: auto;
}

.landing .pic .pic-2 {
    top: 70%;
    right: -4%;
}

.landing .pic .pic-3 {
    top: 75%;
    left: 15%;
}

.landing a {
    font-size: 1.5rem;
}
/* End Landing */

/* Start Information */
.information {
    position: relative;
    padding: 5rem;
}

.information-2,
.information-4 {
    background-color: var(--sec-color);
    padding: 2rem;
    margin-top: 5rem;
}

.information::after {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 30%;
    height: 100%;
    background-color: #bdd7ff;
    z-index: -1;
    border-radius: 20px;
}

.information h2,
.information-2 h2, 
.information-3 h2,
.information-4 h2{
    color: var(--main-color);
}

.information-4 .info {
    padding-top: 5rem;
}


.information-4 h1 {
    font-size: 4rem;
}

.information p,
.information-2 p, 
.information-3 p{
    font-size: 1.5rem;
}

.information-2 .info-btn,
.information-3 .info-btn {
    margin: 2rem auto;
}

.information-2 .pics .man {
    top: 75%;
    left: 50%;
    width: 40%;
}


.information-3 {
    margin-top: 5rem;
}

.information-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 30%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    border-radius: 20px;
}

.information-4 .cont {
    background-color: white;
    padding: 2rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 2rem auto;
}

.information-4 p {
    width: 80%;
}

.information-4 img {
    width: 70px;
}
/* End Information */

/* Start Subscribe */

.subscribe .art img {
    width: 20%;
}

.subscribe form {
    width: 75%;
}

.subscribe form input {
    background: none;
    padding: 20px;
    width: 100%;
}

.subscribe form input:focus {
    outline: none;
}

.subscribe form a {
    padding: 20px;
}
/* End Subscribe */

/* Start Footer */
@media(max-width: 992px) {
    .footer {
        text-align: center;
    }
}
/* Foot 1 */
.footer .foot-1 {
    background-color: #243050;
}
.footer .foot-1 .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
@media(max-width: 768px) {
    .footer .foot-1  .container {
        flex-direction: column;
    }
}
.footer .foot-1  .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer .foot-1  .container .social {
    display: flex;
    gap: 20px;
}
@media(max-width: 768px) {
    .footer .foot-1  .container .social {
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    }
}
.footer .foot-1  .container .social a {
    color: white;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .foot-1  .container .social a:hover {
    color: #337CCF;
}
/* Foot 2 */
.foot-2 {
    background-color: #243050;
}
.foot-2 .container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
    gap: 40px;
}
.foot-2 .container .head {
    margin-top: 30%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.foot-2 .container .head span {
    color: var(--main-color);
}
.foot-2 .container .info h2,
.foot-2 .container .contact h2,
.foot-2 .container .links h2 {
    padding: 20px 5px;
    color: white;
    font-size: 25px;
}

@media (max-width: 768px) {
    .foot-2 .container .info h2,
    .foot-2 .container .contact h2,
    .foot-2 .container .links h2 {
        font-size: 20px;
    }
}
.foot-2 .container .info ul {
    padding: 0px 5px;
}

.foot-2 .container .info li {
    color: white;
    font-size: 15px;
    padding: 0 5px;
    transition: var(--main-transition);
    cursor: pointer;
}
.foot-2 .container .info li:hover {
    color: #337CCF;
}


.foot-2 .container .links ul {
    padding: 0;
}


.foot-2 .container .links a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: white;
    margin-bottom: 17.5px;
    transition: var(--main-transition);
}
.foot-2 .container .links a:hover {
    transform: translateX(10px);
}
.foot-2 .container .links a i {
    color: #337CCF;
}
.foot-2 .container .links a li {
    font-size: 17px;
}

.foot-2 .container .contact {
    display: flex;
    flex-direction: column;
}
.foot-2 .container .contact .cont {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}

.foot-2 .container .contact .cont i {
    color: #337CCF;
}
.foot-2 .container .contact .cont p {
    color: white;
}
.foot-3 {
    background-color: #243050;
}
.foot-3 .container p {
    text-align: center;
    padding: 10px 0;
    color: var(--sec-color);
    font-size: 17px;
}
/* End Footer */

/* Start Media */
@media (max-width: 992px) {
    /* Start Landing */
    .landing h1 {
        font-size: 1.5rem;
    }
    
    .landing p {
        font-size: 0.9rem;
    }

    .landing .pic .pic-2 {
        top: 66%;
        right: -8%;
        width: 22%;
    }

    .landing .pic .pic-3 {
        width: 18%;
        top: 66%;
        left: 12%
    }
    
    .landing a {
        font-size: 1rem;
    }
    /* End Landing */

    /* Start Information */
    .heading-2 {
        font-size: 1.5rem;
    }

    .information,
    .information-2,
    .information-3,
    .information-4 {
        text-align: center;
        margin-top: 0;
    }

    .information-4 {
        padding: 0;
    }

    .information-4 .cont {
        text-align: center;
    }

    .information-4 .cont .names {
        justify-content: center;
    }

    .information-4 .info {
        padding: 0;
    }

    .information-4 .info h1 {
        font-size: 3rem;
    }

    .information,
    .information-3 {
        background-color: #eee;
    }

    .information::after,
    .information-3::after{
        display: none;
    }

    .information-2 .pics a {
        margin-top: 5rem;
    }
    .information-2 .order {
        order: -1;
    }
    /* End Information */

    /* Start Footer */
    .foot-2 {
        text-align: left;
    }
    /* End Footer */
}

@media (max-width: 768px) {
    /* Start Landing */
    .landing h1 {
        font-size: 1.5rem;
    }
    
    .landing p {
        font-size: 0.9rem;
    }

    .landing .pic .pic-2 {
        top: 78%;
        right: -6%;
        width: 20%;
    }

    .landing .pic .pic-3 {
        width: 15%;
        top: 80%;
    }

    .landing a {
        font-size: 1rem;
    }
    /* End Landing */
    /* Start Information */
    .heading-2 {
        font-size: 1.2rem;
    }

    .information, 
    .information-2{
        padding: 1rem;
    }

    .information p,
    .information-2 p {
        font-size: 1rem;
    }

    .information-4 .info h1 {
        font-size: 2rem;
    }
    /* End Information */

    /* Start Footer */
    .foot-2 {
        padding-left: 2.5rem;
    }
    .foot-2 .container .info,
    .foot-2 .container .links,
    .foot-2 .container .contact {
        text-align: left;
        margin: 0;
    }

    .foot-2 .container .info ul,
    .foot-2 .container .links ul,
    .foot-2 .container .contact ul {
        padding: 0;
    }

    .foot-2 .container .contact .cont {
        margin: 0 0 30px 0;
    }
    /* End Footer */

    .subscribe {
        /* padding: 0 1rem; */
    }

    .subscribe h2 {
        font-size: 1rem;
    }

    .subscribe form {
        width: 100%;
    }

    .subscribe form input {
        padding: 10px;
    }

    .subscribe form a {
        padding: 10px;
    }
}
/* End Media */
